# LiveKit Server Configuration
LIVEKIT_URL=wss://s..
LIVEKIT_API_KEY=API..
LIVEKIT_API_SECRET=4sYf...

# Google Gemini Configuration
GEMINI_API_KEY=AQ.Ab..

# Deepgram STT Configuration
DEEPGRAM_API_KEY=7874..

# Anam Avatar Configuration (Please update these with your actual keys)
ANAM_API_KEY=OTQ4....
ANAM_AVATAR_ID=30fa.......
